.App {
    //align-items: center;
    height: 100vh; // this ensures the App component takes up the full viewport height
    //padding: 2em; // this adds white space around the content, increase or decrease as needed
    box-sizing: border-box; // ensures padding is included in height calculation
    background-color: rgb(64, 61, 61);
    color: aliceblue;
  }

  .content {
    width: 80%;
    margin: 0 auto;
  }
  
  
  